<div class="table-responsive">
    <table>
        <tr class="active">
            <td>
                    <h3>One Way Binding</h3>
                    <h4>Interpolation Binding</h4>
                    <span>{{courseName}}</span>
            </td>
            <td class="active">
                    <h3>Two Way Binding</h3>
                    <span>
                        <input type="text" placeholder="Enter details" [(ngModel)] = "courseName">
                    </span>
                    <span>{{courseName}}</span>
            </td>
            <td>
                    <h3>Signal Binding</h3>
                    <span>
                       <button class="btn btn-primary" (click)="changeSignalText()">Change Signal Text</button>
                    </span>
                    <span>{{firstname()}}</span>
            </td>
        </tr>
        <tr>
            <td>
                    <h4>Property Binding</h4>
                    <span><input type="text" [value]="courseName"></span>
            </td>
        </tr>
        <tr>
            <td>
                <h4>Event Binding</h4>
                <span>
                    <button class="btn btn-primary" (click)="changeCourse()">Change Course</button>
                </span>
                <span>{{courseName}}</span>
            </td>
        </tr>
    </table>
</div>
